.pageTitle {
    margin: 2rem;
    text-align: center;
}
.transaction {
    border-bottom: 3px solid black;
    align-content: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.transactionList {
    background-color: whitesmoke;
    align-self: center;
    margin-inline: 20%;
    border-radius: 1%;
}

.account {
    border: 0.1rem solid black;
    /*border-radius: 5%;*/
    padding: 1rem;
}

.accounts {
    display: flex;
    justify-content: space-between;
}