.pageTitle {
    margin: 2rem;
    text-align: center;
}

.transaction-header {
    border-bottom: 3px solid black;
}

.transactionList {
    background-color: whitesmoke;
    align-self: center;
    margin-inline: 20%;
    border-radius: 1%;
}

.accounts {
    flex-direction: row;
}

.accounts div.account {
    margin-bottom: 1rem;
}

div .add-account {
    border-radius: 1rem;
    background: RGB(240, 240, 240);
    display: grid;
    align-items: center;
    justify-content: center;
}

a.hide-link {
    text-decoration: none;
    text-decoration-color: black;
}

.btn {
    width: 10rem;
}

.edit-account {
    margin-top: 3rem;
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr; /* Divides height equally */
    .btn {
        float: right;
        margin-top: 8%;
    }
    .pageTitle {
        margin-left: 0rem;
        text-align: left;
    }
}