.new-account-form {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
label {
    padding-right: 3rem;
}

.btn {
    width: 8rem;
}

h1 {
    margin-bottom: 3rem;
}

.form-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: right;
    grid-column-gap: 2rem
}